.wa-main-navigation-button {
    padding: .5em 0px;
    margin: auto;
    font-size: 16px;

    i, img {
        min-width: 1.5em;
        width: 1.5em;
        height: 1.5em;
    }

    .wa-interactive-underline {
        background-color: #0094ff;
        border-radius: 3px;
        position: relative;
        transition: .2s;
        height: 3px;
        width: 0px;
        margin: 0 auto;
        margin-top: 3px;
    }
}

.wa-main-navigation-button.active > div.wa-interactive-underline {
    width: 100%;
}

.wa-main-navigation-title {
    width: 100%;
    text-align: center;
    margin: 0.4em 0 1em 0;
    font-weight: 500;
    font-size: 24px;
}

pre {
    color: #6c99b9;
}

.wa-search-body {
    padding: 1rem;

    > p{
        font-size: 24px;
        text-align:center;
    }

    > div {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        padding-bottom: 2em;

        > input {
            background: #242c42;
            color: white;
            border: 0px;
            padding: .3rem;
            font-size: 14px;
            border-radius: 7px;
        }

        > select {
            background: #242c42;
            color: white;
            border: 0px;
            padding: .3rem;

            > option {
                padding: .3rem;
            }
        }
    }
}

.wa-search-body-decorations {
    box-shadow: 1em 1em 3em #000;
}
