@page "/Market/MarketMain"
<div class="uk-panel-box uk-border-rounded">
    <div class="uk-panel-box-primary uk-border-rounded uk-width-1-3 uk-container-center">
        <input class="uk-search-field" type="search" placeholder="Поиск..."
               autocomplete="off">
    </div>
</div>
@code {

}
