@using Warf_MAUI.Shared.Services
@using Warf_MAUI.Shared.Components.Elements

@using System.Globalization

<div class="uk-grid uk-child-width-1-1">
    <div class="uk-margin-small">
        <Label For="() => Settings.TwoDaySellVolume" class="uk-width-1-1"></Label>
        <input @bind="Settings.TwoDaySellVolume" type="number" min="0" step="1" class="uk-input" />
    </div>
    <div class="uk-margin-small">
        <Label For="() => Settings.MinPriceDifference" class="uk-width-1-1"></Label>
        <input @bind="Settings.MinPriceDifference" type="number" min="0" step="1" class="uk-input" />
    </div>
    <div class="uk-margin-small">
        <Label For="() => Settings.MinPriceDifference" class="uk-width-1-1"></Label>
        <input @bind="Settings.MinPriceDifference" type="number" min="0" step="1" class="uk-input" />
    </div>

    <div class="uk-margin-small">
        <Label For="() => Settings.Language" class="uk-width-1-1"></Label>
        <select class="uk-select" @bind="Settings.Language">
            @for (var i = 0; i < _cultures.Length; i++)
            {
                @if (_cultures[i].Name == Settings.Language)
                {
                    <option value="@_cultures[i].Name" selected="selected">@_cultures[i].DisplayName</option>
                }
                else
                {
                    <option value="@_cultures[i].Name">@_cultures[i].DisplayName</option>
                }
            }
        </select>
    </div>
</div>

@code {
    [Parameter]
    public required GeneralSettings Settings { get; set; }

    private CultureInfo[] _cultures = CultureInfo.GetCultures(CultureTypes.NeutralCultures)
    .Where(c => c.Name == "ru" || c.Name == "en").ToArray();
}
