@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="full-space main-content-viewer">
            @Body
        </article>
    </main>
</div>

<Warf_MAUI.Shared.Pages.Configuration.Settings />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    article.full-space.main-content-viewer {
        flex: 1 1 auto; /* растягиваемся и по ширине, и по высоте */
        min-width: 0; /* важно для flex, чтобы не ломало переносы */
        box-sizing: border-box;
    }
</style>