@* 
    TODO:
    Этот UI пригоден только для PC. В uk есть условия, которыми можно адаптировать, 
    но я не буду этим сейчас заниматься. 
    Например, https://getuikit.com/docs/flex 
        - .uk-flex-stretch@l Only affects device widths of 1200px and higher.
*@

<nav id="application_main_nav" class="uk-flex uk-flex-column uk-flex-space-between uk-height-1-1 wa-navigation-container">

    @* первый div блок - всегда вверху. Расширяется вниз *@

    <ul class="uk-nav uk-width-1-1">
        <li class="uk-active">
            <NavLink class="wa-main-navigation-title"
                     href="/"
                     Match="NavLinkMatch.All">
                Warframe Market
                <div class="wa-interactive-underline"></div>
            </NavLink>

        </li>
        <li>
            <NavLink class="wa-main-navigation-button"
                     href="/Items/ItemsList"
                     Match="NavLinkMatch.All">
                <i class="fa-solid fa-cubes-stacked uk-icon"></i>
                Предметы
                <div class="wa-interactive-underline"></div>
            </NavLink>
        </li>
        @* 
            TODO:
            Я не уверен на счёт MarketMain, потому как не ебу как оно должно
            называться. Сам, короче, обзовёшь эту поеботу. Только без
            MarkePage(мене похуй как назвать).razor
        *@
        <li>
            <NavLink class="wa-main-navigation-button"
                     href="/Market/MarketMain"
                     Match="NavLinkMatch.All">
                <i class="uk-icon-shopping-cart"></i>
                Магазин
                <div class="wa-interactive-underline"></div>
            </NavLink>
        </li>
        <li>
            <NavLink class="wa-main-navigation-button"
                     href="/Market/MarketDucanator"
                     Match="NavLinkMatch.All">
                <img src="_content/Warf_MAUI.Shared/svg/ducat_light.svg" />
                Дуканатор
                <div class="wa-interactive-underline"></div>
            </NavLink>
        </li>
    </ul>

    @* второй div блок - всегда внизу. Расширятется наверх. *@
    <ul class="uk-nav uk-width-1-1" style="padding-bottom: 0.5em;">
        <li>
            <a class="wa-main-navigation-button"
               uk-toggle="target: #@(Warf_MAUI.Shared.Common.WarframeDefaults.ApplicationUserSettingsComponentId)">
                <i class="uk-icon-gears"></i> Настройки
                <div class="wa-interactive-underline"></div>
            </a>
        </li>
    </ul>

    <script type="text/javascript" src="_content/Warf_MAUI.Shared/scripts/javascript/decorations/navigation-button-dynamic-underline.js"></script>
</nav>
